@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Ubuntu:wght@400;500&display=swap");


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color: rgba(0, 0, 0, 0.562);
  --radius: 0.4rem;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.container {
  width: 80%;
  min-width: 400px;
  max-width: 500px;
  background-color: white;
  padding: 2rem 1.1rem;
  border-radius: var(--radius);
  position: relative;

}

.header {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1.2rem;
  /* padding: 10px 0px; */
}

h2 {
  margin-right: 0.4rem;
  color: var(--color);
}

.header>span {
  color: var(--color);
  user-select: none;
}

/* input container */
.input_container {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 0.2rem;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.input>span {
  margin-right: 0.4rem;
  color: rgba(0, 0, 0, 0.356);
  user-select: none;
}

.input input {
  width: 100%;
  padding: 0.2rem;
  outline: none;
  border: none;
  background: transparent;
}

.input input::placeholder {
  text-transform: capitalize;
  color: var(--color);
}

hr {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1.2rem;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.089);
}

/*  style for result container */
.result_container {
  margin-top: 2rem;
  display: flex;
}

.tagList {
  list-style-position: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  list-style-position: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0.3rem;
  padding: 0.5rem 0.8rem;
  background-color: rgba(30, 143, 255, 0.219);
  cursor: pointer;
}

.tag:hover {
  background-color: dodgerblue;
  color: whitesmoke;
}

.tag>p {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.712);
}

.delete {
  display: flex;
  align-items: center;
}

.delete>span {
  color: rgba(0, 0, 0, 0.712);
  cursor: pointer;
  font-size: 1rem;
}

.tag>p:hover {
  background-color: dodgerblue;
  color: whitesmoke;
}

.delete>span:hover {
  color: white;
}

.footer {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 6rem;
}

.signature {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  animation: animateText 10s infinite;
  user-select: none;
}

@keyframes animateText {
  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 93%;
  }
}